{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="row page_intro">
        <div class="row m0 inner">
            <div class="container">
                <div class="row">
                    <h5>وبلاگ</h5>
                    <h2>طرح شماره دو</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="index.html">صفحه نخست</a></li>
                    <li>وبلاگ</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="row content_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 blog_list">
                    <div class="row m0 blog blog2">
                        <div class="image_row row m0">
                            <img src="{% static 'images/blog/blog/6.jpg' %}" alt="" class="img-responsive">
                        </div>
                        <a href="single-post.html"><h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی</h3></a>
                            <div class="row m0 meta">توسط : <a href="#">نویسنده &nbsp&nbsp&nbsp</a> تاریخ : <a href="#">فروردین &nbsp&nbsp&nbsp</a> نظرات : (<a href="single-post.html" class="comment_amount">25</a>)</div>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود
طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>                            
                        <a href="single-post.html" class="view_all">ادامه</a>
                    </div> <!--Single Post-->
                    <div class="row m0 blog blog2">
                        <div class="image_row row m0">
                            <img src="{% static 'images/blog/blog/6.jpg' %}" alt="" class="img-responsive">
                        </div>
                        <a href="single-post.html"><h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی</h3></a>
                            <div class="row m0 meta">توسط : <a href="#">نویسنده &nbsp&nbsp&nbsp</a> تاریخ : <a href="#">فروردین &nbsp&nbsp&nbsp</a> نظرات : (<a href="single-post.html" class="comment_amount">25</a>)</div>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود
طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>                            
                        <a href="single-post.html" class="view_all">ادامه</a>
                    </div> <!--Single Post-->
                    <div class="row paginationRow">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 sidebar">
                    <form action="#" class="row m0 search_form widget">
                        <h5 class="widget_heading">جستجو</h5>
                        <div class="input-group">
						    <span class="input-group-addon"><button type="submit">برو</button></span>
                            <input type="search" class="form-control" placeholder="... جستجو">

                        </div>
                    </form>
                    <div class="row m0 widget categories">
                        <h5 class="widget_heading">موضوعات</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">عمومی</a></li>
                            <li><a href="#">قلب</a></li>
                            <li><a href="#">ارتوپدی</a></li>
                            <li><a href="#">اورژانس</a></li>
                            <li><a href="#">جراحی</a></li>
                            <li><a href="#">اورژانس</a></li>
                            <li><a href="#">دندانپزشکی</a></li>
                        </ul>
                    </div>
                    <div class="row m0 widget recent_posts">
                        <h5 class="widget_heading">مطالب اخیر</h5>
                        <div class="media recent_post">
                            <div class="media-left">
                                <a href="single-post.html"><img src="{% static 'images/blog/recent_posts/1.jpg' %}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <a href="single-post.html"><h5>لورم ایپسوم یا طرح‌نما به متنی آزمایشی</h5></a>
                                <p>تاریخ : <a href="single-post.html">فروردین</a></p>
                            </div>
                        </div>
                        <div class="media recent_post">
                            <div class="media-left">
                                <a href="single-post.html"><img src="{% static 'images/blog/recent_posts/1.jpg' %}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <a href="single-post.html"><h5>لورم ایپسوم یا طرح‌نما به متنی آزمایشی</h5></a>
                                <p>تاریخ : <a href="single-post.html">فروردین</a></p>
                            </div>
                        </div>
                        <div class="media recent_post">
                            <div class="media-left">
                                <a href="single-post.html"><img src="{% static 'images/blog/recent_posts/1.jpg' %}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <a href="single-post.html"><h5>لورم ایپسوم یا طرح‌نما به متنی آزمایشی</h5></a>
                                <p>تاریخ : <a href="single-post.html">فروردین</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row m0 widget tags">
                        <h5 class="widget_heading">برچسب ها</h5>
                        <div class="row m0 tag_list">
                            <a href="#" class="tag">پزشکی</a>
                            <a href="#" class="tag">آزمایش</a>
                            <a href="#" class="tag">دکتر</a>
                            <a href="#" class="tag">تحقیق</a>
                            <a href="#" class="tag">گوش</a>
                            <a href="#" class="tag">دندانپزشکی</a>
                            <a href="#" class="tag">قلب</a>
                            <a href="#" class="tag">دندان</a>
                            <a href="#" class="tag">جراحی</a>
                            <a href="#" class="tag">زیبایی</a>
                            <a href="#" class="tag">مغز و اعصاب</a>
                            <a href="#" class="tag">دندان</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row book_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="row m0">
                        <h3 class="bannerTitle">سیستم نوبت دهی آنلاین</h3>
                        <h5>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="row m0">
                        <a href="#" data-toggle="modal" data-target="#appointmefnt_form_pop" class="view_all">نوبت دهی</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}