{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="row page_intro">
        <div class="row m0 inner">
            <div class="container">
                <div class="row">
                    <h5>تماس با ما</h5>
                    <h2>با پزشکان در تماس باشید</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="index.html">صفحه نخست</a></li>
                    <li>تماس با ما</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="row contact_intro">
        <div class="container">
            <div class="row inner m0">
                <div class="col-sm-5 p0">
                    <img src="{% static 'images/pages/contact/1.png' %}" alt="">
                </div>
                <div class="col-sm-7">
                    <h2>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</h2>
                    <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    <div class="row m0 phone_fax"><div class="fleft phone">تلفن : ١٢٣٤٥٦٧٨ - ٠٢١</div><div class="fleft fax">فکس : ١٢٣٤٥٦٧٨ - ٠٢١</div></div>
                    <div class="row m0 email_address">info@yourdomain.com</div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row contact_form_row">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 contact_form_area">
                    <h3 class="contact_section_title">تماس با ما</h3>
                    <div class="contactForm row m0">
                        <form method="post" action="{% url 'website:contact' %}" class="row contact_form" id="contactForm">
                        {% csrf_token %}
                            <div class="row m0">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label for="contact_fname">تلفن همراه</label>
                                        <input type="tel" class="form-control" name="phone" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="contact_femail">ایمیل</label>
                                        <input type="email" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label for="contact_lname">نام و نام خانوادگی</label>
                                        <input type="text" class="form-control" name="name" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="contact_fphone">عنوان پیام</label>
                                        <input type="text" class="form-control" name="title" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row m0">
                                <div class="col-sm-12">
                                    <label for="contact_fmsg">متن پیام</label>
                                    <textarea name="message" id="contact_fmsg" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="row m0 security_captcha">
                                <div class="col-sm-12">
                                    <div class="fleft security_label"><label for="contact_fsc">کد امنیتی</label></div>
                                    <div class="fleft security_captcha_input"><input type="text" class="form-control" id="contact_fsc" name="contact_fsc"><input type="text" value="1v0h92" class="hidden" id="contact_fsc_hidden"></div>
                                    <div class="fleft security_img"><img src="{% static 'images/captcha.png' %}" alt=""></div>
                                </div>
                            </div>                            
                            <div class="row m0">
                                <div class="col-sm-12">
                                    <input type="submit" class="submit_btn" value="ارسال">
                                </div>
                            </div>
                        </form>
                        <div id="success">
                            <span class="green textcenter">پیام شما با موفقیت ارسال شد!
                            </span>
                        </div>
                        <div id="error">
                            <span>
                                مشکل در ارسال پیام ! مجدد ارسال کنید .
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 contact_address">
                    <h3 class="contact_section_title">آدرس</h3>
                    <div class="row address m0">
                        <div class="media address_line">
                            <div class="media-left icon"><i class="fa fa-map-marker"></i></div>
                            <div class="media-body address_text">دفتر مرکزی - تهران , <br>خیابان انقلاب- مجتمع </div>
                        </div>
                        <div class="media address_line">
                            <div class="media-left icon"><i class="fa fa-envelope"></i></div>
                            <div class="media-body address_text">info@yourdomain.com</div>
                        </div>
                        <div class="media address_line">
                            <div class="media-left icon"><i class="fa fa-phone"></i></div>
                            <div class="media-body address_text">١٢٣٤٥٦٧٨ - ٠٢١</div>
                        </div>
                        <a href="#" class="view_all">دریافت آدرس</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row map_row">
        <div class="container">
            <h3 class="contact_section_title">آدرس روی نقشه</h3>
            <div id="mapBox" class="row m0"></div>
        </div>
    </section>
    
{% endblock %}