{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
    <section class="row bannercontainer p0">
        <div class="preloader"><img src="{% static 'vendors/rs-plugin/assets/loader.gif' %}" alt=""></div>
        <div class="row m0 banner main_slider">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="200" class="first-slide">
                    <!--Main Image-->
                    <img src="{% static 'images/slider/homepage1/2.jpg' %}" alt="Main Image 1" data-bgfit="cover"
                        data-bgposition="center top" data-bgrepeat="no-repeat">
                    <!--Main Image-->
                    <div class="container">
                        <div class="heading tp-caption random fade" data-speed="3000" data-start="500"
                            data-easing="Cubic.easeInOut">
                            خدمات پزشکی <br> مدرن و مجهز
                        </div>
                        <!--layer1-->
                        <div class="para tp-caption slideleft incube" data-speed="3000" data-start="200"
                            data-easing="easeOutBounce">
                            لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی
                            <br>
                            در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود
                        </div>
                        <!--layer2-->
                        <div class="link tp-caption slideup slideup" data-speed="3000" data-start="200"
                            data-easing="easeInQuad">
                            <a href="#" class="view_all">نمایش خدمات</a>
                        </div>
                        <!--layer 3-->
                    </div>
                </li>
                <!--Slide-->
                <li data-transition="incube" data-slotamount="7" data-masterspeed="200" class="second-slide">
                    <!--Main Image-->
                    <img src="{% static 'images/slider/homepage1/2.jpg' %}" alt="Main Image 2" data-bgfit="cover"
                        data-bgposition="center top" data-bgrepeat="no-repeat">
                    <!--Main Image-->
                    <div class="container">
                        <div class="heading tp-caption random fade" data-speed="3000" data-start="500"
                            data-easing="Cubic.easeInOut">
                            خدمات پزشکی <br> اعتماد &amp; پزشکان متخصص
                        </div>
                        <!--layer1-->
                        <div class="para tp-caption slideleft incube" data-speed="3000" data-start="200"
                            data-easing="easeOutBounce">
                            لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی
                            <br>
                            در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود
                        </div>
                        <!--layer2-->
                        <div class="link tp-caption slideup slideup" data-speed="3000" data-start="200"
                            data-easing="easeInQuad">
                            <a href="#" class="view_all">نمایش خدمات</a>
                        </div>
                        <!--layer 3-->
                    </div>
                </li>
                <!--Slide-->
                <li data-transition="papercut" data-slotamount="7" data-masterspeed="200" class="third-slide">
                    <!--Main Image-->
                    <!-- <img src="{% static 'images/slider/homepage1/3.jpg' %}" alt="Main Image 3" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat"> -->
                    <!--Main Image-->
                    <div class="container">
                        <div class="heading tp-caption random fade" data-speed="3000" data-start="500"
                            data-easing="Cubic.easeInOut">
                            خدمات پزشکی <br> بهداشت &amp; استاندارد بالا
                        </div>
                        <!--layer1-->
                        <div class="para tp-caption slideleft incube" data-speed="3000" data-start="200"
                            data-easing="easeOutBounce">
                            لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی
                            <br>
                            در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود
                        </div>
                        <!--layer2-->
                        <div class="link tp-caption slideup slideup" data-speed="3000" data-start="200"
                            data-easing="easeInQuad">
                            <a href="#" class="view_all">نمایش خدمات</a>
                        </div>
                        <!--layer 3-->
                    </div>
                </li>
                <!--Slide-->
            </ul>
        </div>
    </section>

    <section class="row quick_blocks_row quick_blocks_row_home2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 quick_block emmergency">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>کمک سریع</h5>
                            <h3>اورژانس</h3>
                        </div>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                        <a href="contact.html">تماس با ما</a>
                    </div>
                </div>
                <div class="col-sm-4 quick_block branches">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>مراکز کشور</h5>
                            <h3> مرکز 263</h3>
                        </div>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                        <a href="contact.html">یافتن مراکز</a>
                    </div>
                </div>
                <div class="col-sm-4 quick_block bill_payments">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>تسویه آسان</h5>
                            <h3>پرداخت صورتحساب آنلاین</h3>
                        </div>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                        <a href="contact.html">پرداخت با کارت های عضو شتاب</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="row service_block_row bgf">
        <div class="container">
            <div class="row titleRow">
                <h5>معرفی</h5>
                <h2>خدمات پزشکی</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/1.png' %}" alt=""></div>
                        <a href="single-service.html">
                            <h4>قلب</h4>
                        </a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/2.png' %}" alt=""></div>
                        <a href="single-service.html">
                            <h4>تست DNA</h4>
                        </a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/3.png' %}" alt=""></div>
                        <a href="single-service.html">
                            <h4>زایشگاه</h4>
                        </a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/4.png' %}" alt=""></div>
                        <a href="single-service.html">
                            <h4>اورژانس</h4>
                        </a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/5.png' %}" alt=""></div>
                        <a href="single-service.html">
                            <h4>گوش</h4>
                        </a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/6.png' %}" alt=""></div>
                        <a href="single-service.html">
                            <h4>دندانپزشکی</h4>
                        </a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row recentpost_acc contentRowPad">
        <div class="container">
            <div class="row m0 titleRow">
                <h5>آخرین عناوین</h5>
                <h2>وبلاگ کلینیک</h2>
            </div>
            <div class="row recent_post_home recent_post_home3">
                {% latestposts_home 0 4 as posts %}
                {% for post in posts %}
                <div class="col-sm-12 col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="{% url 'blog:single' pid=post.id %}"><img style="max-width: 185px; max-height: 137;" src="{{post.image.url}}" alt=""
                                    class="img-reponsive"></a>
                        </div>
                        <div class="media-body">
                            <a href="{% url 'blog:single' pid=post.id %}">
                                <h4>{{post.title}}</h4>
                            </a>
                            <div class="row m0 meta">توسط : <a href="#">{{post.author.get_full_name}}</a> &nbsp; تاریخ : <a
                                    href="#">{{post.get_jalali_date}}</a></div>
                            <p style="direction: rtl;">{{post.content|truncatewords:15}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}         
                <a href="{% url 'blog:index' %}" class="view_all">همه اخبار</a>
            </div>
        </div>
    </section>

    <section class="row about_medicalpro_row">
        <div class="container">
            <div class="row titleRow">
                <h5>انواع خدمات</h5>
                <h2>دپارتمان</h2>
            </div>
            <div class="row">
                <ul class="nav nav-tabs department_tab" role="tablist">
                    <li role="presentation"><a href="#dept1" aria-controls="dept1" role="tab" data-toggle="tab">بهداشت
                            عمومی</a></li>
                    <li role="presentation"><a href="#dept2" aria-controls="dept2" role="tab" data-toggle="tab">مراقبت
                            از سرطان</a></li>
                    <li role="presentation"><a href="#dept3" aria-controls="dept3" role="tab"
                            data-toggle="tab">توانبخشی</a></li>
                    <li role="presentation"><a href="#dept4" aria-controls="dept4" role="tab" data-toggle="tab">کلینیک
                            قلب</a></li>
                    <li role="presentation"><a href="#dept5" aria-controls="dept5" role="tab" data-toggle="tab">مغز و
                            اعصاب</a></li>
                    <li role="presentation" class="active"><a href="#dept6" aria-controls="dept6" role="tab"
                            data-toggle="tab">دندانپزشکی</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="dept1">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt=""
                                            class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                                            استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در
                                            صنعت چاپ</p>
                                        <a href="about.html" class="view_all">درباره کلینیک</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept2">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt=""
                                            class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                                            استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در
                                            صنعت چاپ</p>
                                        <a href="about.html" class="view_all">درباره کلینیک</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept3">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt=""
                                            class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                                            استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در
                                            صنعت چاپ</p>
                                        <a href="about.html" class="view_all">درباره کلینیک</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept4">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt=""
                                            class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                                            استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در
                                            صنعت چاپ</p>
                                        <a href="about.html" class="view_all">درباره کلینیک</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept5">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt=""
                                            class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                                            استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در
                                            صنعت چاپ</p>
                                        <a href="about.html" class="view_all">درباره کلینیک</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept6">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt=""
                                            class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و
                                            طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب
                                            بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                                            استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در
                                            صنعت چاپ</p>
                                        <a href="about.html" class="view_all">درباره کلینیک</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row team_section bgf">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 team_menu">
                    <div class="row titleRow text-left">
                        <h5>پزشکان ما</h5>
                        <h2>متخصص و جراح</h2>
                    </div>
                    <div class="row">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active media"><a href="#doctor1" aria-controls="doctor1"
                                    role="tab" data-toggle="tab">
                                    <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <h5>جاناتان داو</h5>
                                        <div class="row designation">جراح ارتوپد</div>
                                    </div>
                                </a></li>
                            <li role="presentation" class="media"><a href="#doctor2" aria-controls="doctor2" role="tab"
                                    data-toggle="tab">
                                    <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <h5>آنجلینا جانسن</h5>
                                        <div class="row designation">متخصص مغز و اعصاب</div>
                                    </div>
                                </a></li>
                            <li role="presentation" class="media"><a href="#doctor3" aria-controls="doctor3" role="tab"
                                    data-toggle="tab">
                                    <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <h5>ساندرا آندرسون</h5>
                                        <div class="row designation">متخصص قلب</div>
                                    </div>
                                </a></li>
                            <li role="presentation" class="media"><a href="#doctor4" aria-controls="doctor4" role="tab"
                                    data-toggle="tab">
                                    <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt="">
                                    </div>
                                    <div class="media-body media-middle">
                                        <h5>تام ادکینز</h5>
                                        <div class="row designation">پزشک عمومی</div>
                                    </div>
                                </a></li>
                        </ul>
                        <a href="doctors.html" class="view_all">همه پزشکان</a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 team_descss">
                    <div class="row">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane media active" id="doctor1">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt=""
                                            class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>جاناتان داو</h2>
                                        <h5>جراح ارتوپد</h5>
                                    </div>
                                    <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ <br><br> لورم ایپسوم
                                        یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                            <div role="tabpanel" class="tab-pane media" id="doctor2">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt=""
                                            class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>آنجلینا جانسن</h2>
                                        <h5>متخصص مغز و اعصاب</h5>
                                    </div>
                                    <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ <br><br> لورم ایپسوم
                                        یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                            <div role="tabpanel" class="tab-pane media" id="doctor3">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt=""
                                            class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>ساندرا آندرسون</h2>
                                        <h5>متخصص قلب</h5>
                                    </div>
                                    <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ <br><br> لورم ایپسوم
                                        یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                            <div role="tabpanel" class="tab-pane media" id="doctor4">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt=""
                                            class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>تام ادکینز</h2>
                                        <h5>پزشک عمومی</h5>
                                    </div>
                                    <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ <br><br> لورم ایپسوم
                                        یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                        </div>
                        <div class="visible-xs view_all_btn_4_mobile">
                            <a href="doctors.html" class="view_all">همه پزشکان</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row recent_post_home2">
        <div class="container">
            <div class="row titleRow">
                <h5>از زبان شما</h5>
                <h2>نظرات مراجعین</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 recent_post">
                    <div class="row m0 inner">
                        <div class="postText row m0">
                            لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود
                        </div>
                        <div class="media authorMeta">
                            <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt=""></div>
                            <div class="media-body media-middle">
                                <h5>جان داو</h5>
                                <div class="row designation">www.yoursite.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 recent_post">
                    <div class="row m0 inner">
                        <div class="postText row m0">
                            لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود
                        </div>
                        <div class="media authorMeta">
                            <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt=""></div>
                            <div class="media-body media-middle">
                                <h5>آنجلینا</h5>
                                <div class="row designation">www.yoursite.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 recent_post">
                    <div class="row m0 inner">
                        <div class="postText row m0">
                            لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود
                        </div>
                        <div class="media authorMeta">
                            <div class="media-left"><img src="{% static 'images/pages/doctors/1.png' %}" alt=""></div>
                            <div class="media-body media-middle">
                                <h5>تام آندرسون</h5>
                                <div class="row designation">www.yoursite.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="row book_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="row m0">
                        <h3 class="bannerTitle">سیستم نوبت دهی آنلاین</h3>
                        <h5>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته
                            می‌شود</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="row m0">
                        <a href="#" data-toggle="modal" data-target="#appointmefnt_form_pop" class="view_all">نوبت
                            دهی</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

{% endblock %}