{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="row page_intro">
        <div class="row m0 inner">
            <div class="container">
                <div class="row">
                    <h5>خدمات</h5>
                    <h2>خدمات پزشکی</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="{% url 'website:index' %}">صفحه نخست</a></li>
                    <li>خدمات</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="row service_block_row bgf">
        <div class="container">
            <div class="row titleRow">
                <h5>معرفی</h5>
                <h2>خدمات پزشکی</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/1.png' %}" alt=""></div>
                        <a href="#"><h4>قلب</h4></a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/2.png' %}" alt=""></div>
                        <a href="#"><h4>تست DNA</h4></a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/3.png' %}" alt=""></div>
                        <a href="#"><h4>زایشگاه</h4></a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/4.png' %}" alt=""></div>
                        <a href="#"><h4>اورژانس</h4></a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/5.png' %}" alt=""></div>
                        <a href="#"><h4>گوش</h4></a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{% static 'images/icons/service_block/6.png' %}" alt=""></div>
                        <a href="#"><h4>دندانپزشکی</h4></a>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
    <section class="row about_medicalpro_row">
        <div class="container">
            <div class="row titleRow">
                <h5>انواع خدمات</h5>
                <h2>دپارتمان</h2>
            </div>
            <div class="row">
                <ul class="nav nav-tabs department_tab" role="tablist">
                    <li role="presentation" ><a href="#dept1" aria-controls="dept1" role="tab" data-toggle="tab">بهداشت عمومی</a></li>
                    <li role="presentation"><a href="#dept2" aria-controls="dept2" role="tab" data-toggle="tab">مراقبت از سرطان</a></li>
                    <li role="presentation"><a href="#dept3" aria-controls="dept3" role="tab" data-toggle="tab">توانبخشی</a></li>
                    <li role="presentation"><a href="#dept4" aria-controls="dept4" role="tab" data-toggle="tab">کلینیک قلب</a></li>
                    <li role="presentation"><a href="#dept5" aria-controls="dept5" role="tab" data-toggle="tab">مغز و اعصاب</a></li>
                    <li role="presentation" class="active"><a href="#dept6" aria-controls="dept6" role="tab" data-toggle="tab">دندانپزشکی</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="dept1">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept2">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept3">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept4">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept5">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dept6">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner">
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{% static 'images/pages/about/about2.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h3>
                                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید <br><br>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}